$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternary-color:#FA9500;
$font-stack: 'IBM Plex Sans', sans-serif;
$paragraph-size: 1.5em;

@mixin flexCenter ($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items:  $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

@mixin svgStyle ($color, $width, $height){
    svg {
        width: $width;
        height: $height;
        path {
            stroke: $color; 
        }
    } 
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    @include flexCenter(row,space-between ,center );
    padding: 15px;
    background-color: $primary-color;
    color: $primary-text-color;
    p {
        font-size: $paragraph-size;
        padding-left: 30px;
    }
    .icons {
        display: flex;
        gap: 15px;
        @include buttonStyle;
        @include svgStyle($primary-text-color,36px ,36px )
    }
}

article {
    width: auto;
    color:$primary-text-color;
    @include flexCenter(row, space-between, center);
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;
    .impact-section {
        @include flexCenter(column, space-evenly , flex-start );
        /* display: flex;
        flex-direction: column; */
        padding-top: 50px;
        gap:25px
    }
    h1 {
        font-size: 3em;
        padding: 0px;
        margin: 0px;
    }
    p{
        font-size: $paragraph-size;
    }
    @include buttonStyle;
    button {
        width: 12vw;
        padding: 20px;
        background-color: $quaternary-color;
        border-radius: 35px;
        color: white;
        font-size: 1em;
    }

    img {
        width: 25vw;
        border-radius: 19px;
    }
}

main {
    background-color: $primary-color;
}

section {
    width: auto;
    height: auto;
    /* background-color: pink; */
    padding: 60px;

    h2 {
        color: $primary-text-color;
        font-size: 2em;
    }
    .healthcare {
        padding-bottom: 60px;
        h2 {
            font-weight: 300;
            padding-bottom: 60px ;
        }
        .card-section {
            @include flexCenter(row,space-evenly ,center );
            /* El include en este caso reeplaza los siguientes estilos: */
            /* display: flex; */
            /* align-items: center; */
            /* justify-content: center; */
            width: auto;
            height: auto;
            flex-wrap: wrap;
            column-gap: 100px;
            row-gap: 80px;
            
        }
        .product-card {
            /* width: 10vw; */
            width: 20vw;
            height: 38vw;
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
            .icon{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;
                @include svgStyle($primary-text-color,28px ,28px );
                /* svg{
                    width: 28px;
                    height: 28px;
                } */
            }
            .product-image {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 20vw;
                    height: 25vw;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
            h3 {
                @media (max-width:1130px) {
                    font-size: 1em;
                }
            }
            p {
                @media (max-width:1130px) {
                    font-size: 0.8em;
                }
            }
        }
    }
    .furniture {
        @extend .healthcare;
        .product-card {
            background-color: $tertiary-color;
            color: white;
            .icon {
                @include svgStyle(white,28px ,28px );
            }
        }
    }
}

.about-us {
    padding-bottom: 60px;
    @extend .healthcare;
    h2 {
        font-weight: bold;
        padding-bottom: 60px;
    }
    .mision-section {
        @include flexCenter(row,space-evenly ,center );
        .earth {
            max-width:30vw;
            display: flex;
            gap:40px;
            color: #E86424;
            img {
                object-fit: contain;
            }
            p {
                display: flex;
                align-items: center;
            }
        }
    }
    .innovation {
        @extend .earth;
    }
}

.footer {
    $background :$quaternary-color;
    background-color :$background;
    width: 100%;
    height: 250px;
}